:root {
  --bg:#f4f4f4; --text:#000; --card:#fff;
}
.dark {
  --bg:#121212; --text:#fff; --card:#1e1e1e;
}
body {
  margin:0; font-family:Arial;
  background:var(--bg); color:var(--text);
  direction:rtl;
}
header {
  background:#0b3d2e; color:#fff;
  padding:15px; display:flex;
  justify-content:space-between;
}
header span {color:gold;}
.link {color:white; text-decoration:none; margin-right:10px;}
.breaking {
  background:darkred; color:white;
  padding:10px; text-align:center;
}
#newsContainer {
  padding:15px; display:grid;
  grid-template-columns:1fr; gap:15px;
}
.card {
  background:var(--card); padding:15px;
  border-radius:10px;
}
.admin {padding:20px;}
.admin input, .admin textarea {
  width:100%; padding:10px; margin-bottom:10px;
}
button {padding:8px 12px; cursor:pointer;}
footer {
  background:#0b3d2e; color:white;
  text-align:center; padding:10px;
}
@media(min-width:600px){
  #newsContainer{grid-template-columns:repeat(2,1fr);}
}
